*{
  margin:0;
}

.container {
    display: grid;
    grid-template-columns: 0.6fr 1.7fr 0.5fr 1.7fr 0.6fr;
    grid-template-rows: 0.6fr 0.3fr 0.5fr 0.3fr 3.8fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Title-Left Title-Left Logo Title-Right Title-Right"
      "Arrow-Right Arrow-Right Arrow-Right Arrow-Right Arrow-Right"
      "Navbar Navbar Navbar Navbar Navbar"
      "Arrow-Left Arrow-Left Arrow-Left Arrow-Left Arrow-Left"
      ". Article Article Article ."
      "Footer Footer Footer Footer Footer";
  }
  
  .Title-Left { 
    grid-area: Title-Left; 
    font-family: 'Crimson Text', serif;
    text-align: center;
    color: white;
}
  
  .Title-Right { 
    grid-area: Title-Right;
    font-family: 'Crimson Text', serif;
    text-align: center;
    color: white;

}
  
  .Logo { 
    grid-area: Logo;

    
}

.Logo img{
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
}
  
  .Arrow-Right { grid-area: Arrow-Right; }
  
  .Navbar { 
    grid-area: Navbar; 
    width: 100vw;
    background-color: #111;
    overflow: none;
  }
  .Navbar a {
    float: left;
    padding: 14.6px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 12.5vw; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
  }
  .Navbar a:hover {
    background-color: #000;
    }
    
    /* Style the current/active link */
    .navbar a.active {
      background:linear-gradient(to right, red,magenta);
    }



  
  .Arrow-Left { grid-area: Arrow-Left; }
  
  .Article { grid-area: Article; }
  
  .Footer { grid-area: Footer; }
  
.arrow {
  width:100vw;
  margin:50px auto;
}

.line {
  margin-top:14px;
  width:98.9vw;
  background:linear-gradient(to right,red, magenta);
  height:10px;
  float:left;
}
.point {	
    width: 0; 
    height: 0; 
    border-top: 2vh solid transparent;
    border-bottom: 2vh solid transparent;
    border-left: 2vh solid magenta;
    float:left;
}



  

  