.container {
    display: grid;
    grid-template-columns: 0.6fr 1.7fr 0.5fr 1.7fr 0.6fr;
    grid-template-rows: 0.6fr 0.3fr 0.5fr 0.3fr 3.8fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Title-Left Title-Left Logo Title-Right Title-Right"
      "Arrow-Right Arrow-Right Arrow-Right Arrow-Right Arrow-Right"
      "Navbar Navbar Navbar Navbar Navbar"
      "Arrow-Left Arrow-Left Arrow-Left Arrow-Left Arrow-Left"
      ". Article Article Article ."
      "Footer Footer Footer Footer Footer";
  }
  
  .Title-Left { 
    grid-area: Title-Left; 
    font-family: 'Crimson Text', serif;
    text-align: center;
    color: white;
}
  
  .Title-Right { 
    grid-area: Title-Right;
    font-family: 'Crimson Text', serif;
    text-align: center;
    color: white;

}
  
  .Logo { 
    grid-area: Logo;

    
}

.Logo img{
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
}
  
  .Arrow-Right { grid-area: Arrow-Right; }
  
  .Navbar { grid-area: Navbar; }
  
  .Arrow-Left { grid-area: Arrow-Left; }
  
  .Article { grid-area: Article; }
  
  .Footer { grid-area: Footer; }
  
.arrow {
  width:1080px;
  margin:50px auto;
}

.line {
  margin-top:14px;
  width:1050px;
  background:linear-gradient(to right,red, magenta);
  height:10px;
  float:left;
}
.point {	
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid magenta;
    float:right;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background:#111;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 46px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background:linear-gradient(to right, red,magenta);
}

  

  