.container {
    display: grid;
    grid-template-columns: 0.6fr 1.7fr 0.5fr 1.7fr 0.6fr;
    grid-template-rows: 0.6fr 0.3fr 0.5fr 0.3fr 3.8fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Title-Left Title-Left Logo Title-Right Title-Right"
      "Arrow-Right Arrow-Right Arrow-Right Arrow-Right Arrow-Right"
      "Navbar Navbar Navbar Navbar Navbar"
      "Arrow-Left Arrow-Left Arrow-Left Arrow-Left Arrow-Left"
      ". Article Article Article ."
      "Footer Footer Footer Footer Footer";
  }
  
  .Title-Left { 
    grid-area: Title-Left; 
    font-family: 'Crimson Text', serif;
    text-align: center;
    margin-left: 500px;
}
  
  .Title-Right { 
    grid-area: Title-Right;
    font-family: 'Crimson Text', serif;
    text-align: center;
    margin-right: 500px;
}
  
  .Logo { 
    grid-area: Logo; 
    
}
  
  .Arrow-Right { grid-area: Arrow-Right; }
  
  .Navbar { grid-area: Navbar; }
  
  .Arrow-Left { grid-area: Arrow-Left; }
  
  .Article { grid-area: Article; }
  
  .Footer { grid-area: Footer; }
  
  

  